<div class="row is-flex main">
    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 title-col">
        <div class="section-title">OUR PRODUCTS</div>
    </div>
    <div class="col-md-9 col-sm-9 col-lg-9">
        <div class="row is-flex">
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-1 col-sm-offset-1 col-md-offset-1 product">
                <div class="title">V Bills Classic</div>
                <div class="info">
                    V Bills Classic is a GST-Ready billing software from V Devs. V Bills is provided to you in both Standalone application, Web Application and SaaS. You can add your GSTN, set the rate of GST or turn of GST option. You can add unlimited itemswith their prices
                    and print bills. You can edit GST rate, items and prices.
                </div>
                <div class="visit"></div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-2 col-sm-offset-2 col-md-offset-2 product">
                <div class="title">V Bills Premium</div>
                <div class="info">V Bills premium is a premium version of V Bills Classic which include Inventory Management. Unlike V Bills Classic, here you can view, add and update the stock.In V Bills Premium, you can add items, edit stock, edit price and set a GST
                    rate and once a bill is submitted, it automatically will update the stock information.</div>
                <div class="visit"></div>
            </div>
        </div>
        <div class="row is-flex">
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-1 col-sm-offset-1 col-md-offset-1 product">
                <div class="title">V Deals</div>
                <div class="info">
                    V Deals is an Online Deal Monitor Service from V Devs. We have systems that always keep track of best deals and flash sales in Online Shopping Portals like Amazon and Flipkart. With V Deals, you can view the best available deals quickly and buy it before
                    the deal goes out.
                </div>
                <div class="visit"></div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-2 col-sm-offset-2 col-md-offset-2 product">
                <div class="title">V Shop</div>
                <div class="info">V Shop is an online shopping portal from V Devs. We connect merchands with people. Avoid rushes in shops and purchase online. Chose from the shop you like and get the products for best prices ever. We provide free delivery on purchases
                    that match certain criteria.</div>
                <div class="visit"></div>
            </div>
        </div>
        <div class="row is-flex">
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-1 col-sm-offset-1 col-md-offset-1 product">
                <div class="title">V Tools</div>
                <div class="info">
                    V Tools is a set of tools for developers from V Devs. We provide certain features for developers around the world to make their job easy. It includes certain JavaScript libraries, certain APIs and other tools. A complete documentation is also provided
                    for each plugin and API. It includes VdJs, VdFx and so and so.
                </div>
                <div class="visit"></div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-2 col-sm-offset-2 col-md-offset-2 product">
                <div class="title">V Blog</div>
                <div class="info">V Blog is a tech blog from V Devs. We share our views, experiences and our findings in this Blog. V Blog is maintained by people at V Devs. We mainly write on Web Development technologies, Mobile Application Development technologies, Desktop
                    Application Development technologies, Our research on certain technologies, it's impacts and the changes in technology.</div>
                <div class="visit"></div>
            </div>
        </div>
    </div>
</div>