<div class="section-title container">ABOUT US</div>
<div class="row">
    <h3 class="sub-section-title">WHO WE ARE</h3>
    <div class="sub-text">
        V Devs, the nexgen IT company is founded in November, 2016. Within 1 year, the company grew quickly chasing all of it's competetors and secured a high position that none of the competetor can chase down. We do Web Application Developments, Mobile Application
        Developments, Desktop Application Developments, Website Developments, Social Media Marketing, Search Engine Optimization, Branding and Bulk Email and SMS services. We also gave some valuable contributions to the world by launching few products
        include V Blog, V Deals, V Bills and so on. We are trying to make the benefits of technology available to every individual and our progress along with the progress of the society and the nation.
    </div>
    <h3 class="sub-section-title">MISSION & VISION</h3>
    <div class="sub-text">
        Our Mission is to make the benefits of technolgy available to everyone. The society should grow along with growing technology.<br /> Our Vision is a society using the best out of available technology. An E-Nation where most of the things shall
        be done with technology.
    </div>
</div>