/* You can add global styles to this file, and also import other style files */

@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../src/assets/fonts/Gruppo/stylesheet.css";
@import "../src/assets/fonts/AllertaStencilRegular/stylesheet.css";
@import "../src/assets/fonts/JosefinSlabBold/stylesheet.css";
@import "../src/assets/fonts/ChequeRegular/stylesheet.css";
@import "../src/assets/fonts/Paralines/stylesheet.css";
@import "../src/assets/fonts/Algerian/stylesheet.css";
@import "../src/assets/fonts/JuiceITC/stylesheet.css";
@import "../src/assets/fonts/Consolas/stylesheet.css";
@import "../src/assets/fonts/CourierNewPSMT/stylesheet.css";
@import "../src/assets/fonts/Vivaldi/stylesheet.css";
html,
body {
    overflow-x: hidden;
    color: #fff !important;
    height: 100%;
    // background: linear-gradient(135deg, #aaa, #fff);
}

html {
    overflow-y: hidden;
}