@font-face {
    font-family: 'CourierNewPSMT';
    src: url('CourierNewPSMT.woff') format('woff'), url('CourierNewPSMT.ttf') format('truetype'), url('CourierNewPSMT.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}