.centered {
    .name {
        font-size: 72px;
        font-family: 'vivaldiitalic';
        color: #6b25df;
    }
    text-align: center;
    margin: 0 auto;
    padding: 10% 0;
    overflow: hidden;
    // font-family: 'Allerta Stencil';
    font-family: 'grupporegular'
}