<div class="row is-flex main">
    <div class="section-title small container col-xs-12">OUR SERVICES</div>
    <div class="col-md-9 col-sm-9 col-lg-9">
        <div class="row is-flex">
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-1 col-sm-offset-1 col-md-offset-1 product">
                <div class="title">WEB APPLICATIONS</div>
                <div class="info">
                    Get a ready to use web application, an online version of softwares. No need to worry about storage or data loss. With our cloud storage support, you can access your software anywhere anytime on any device. Stop worrying about taking data when switching
                    systems and about data loss when system get damaged. <br />Package starts from 30,000/-
                </div>
                <div class="visit"></div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-2 col-sm-offset-2 col-md-offset-2 product">
                <div class="title">MOBILE APPLICATIONS</div>
                <div class="info">Attract more customers to your business with a unique Mobile Application. We build Mobile Applications for Android, iOS and windows phone. A Mobile Application will increase the client activity and the presence of your business on internet
                    by 200%. Get your native Mobile Application developed and integrated on corresponding App Store today. <br /> Package Starts from 30,000/-</div>
                <div class="visit"></div>
            </div>
        </div>
        <div class="row is-flex">
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-1 col-sm-offset-1 col-md-offset-1 product">
                <div class="title">SOFTWARES</div>
                <div class="info">
                    Get your desktop application developed and installed. An offline version of Web Application. You can install it and run it like native applicatio. Access it anytime without internet and with high performance. Your data is in your hands. Integrate it in
                    our cloud platform and access it from anywhere at anytime for a low cost.<br />Package starts from 35,000/-
                </div>
                <div class="visit"></div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-2 col-sm-offset-2 col-md-offset-2 product">
                <div class="title">WEBSITE</div>
                <div class="info">A business without a website is like a cellphone without a battery. Get the most out of your business/ shop with an awesome website. We give priority for both mobile and desktop visitors and your site will always be responsive. One site
                    for all devices. Get a website that give your visitor your details and portfolio within fraction of seconds.<br />Package starts from 8,000/-</div>
                <div class="visit"></div>
            </div>
        </div>
        <div class="row is-flex">
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-1 col-sm-offset-1 col-md-offset-1 product">
                <div class="title">SEO</div>
                <div class="info">
                    Without proper SEO, a website can be nothing. With our expert Search Engine Optimization team, get your website listed within first 5 search results in google. SEO is a never ending process and we work for improvments of your site 24 x 7. Attract 10X
                    more customers by getting your website listed in the front page of search engine within first 5 results.<br />Package starts from 10,000/-
                </div>
                <div class="visit"></div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-2 col-sm-offset-2 col-md-offset-2 product">
                <div class="title">SOCIAL MEDIA MARKETING</div>
                <div class="info">Make more interactions with people and get more impressions with our intelligent social media system. Our Experts will market your business in social media ensuring that it will be reached to right person. We assure you will never loss
                    a single penny by delivering your ad to the wrong person.<br />Package starts from 10,000/-</div>
                <div class="visit"></div>
            </div>
        </div>
        <div class="row is-flex">
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-1 col-sm-offset-1 col-md-offset-1 product">
                <div class="title">BRANDING</div>
                <div class="info">
                    Get a unique logo and get your branding completely done with our creative designs team. Experienced professionals will design logos, animation ads, video ads and media advertising for you. Get attractive graphics kit including a unique logo, brouchers,
                    banners, advertisments.<br />Package starts from 10,000/-
                </div>
                <div class="visit"></div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-2 col-sm-offset-2 col-md-offset-2 product">
                <div class="title">EMAIL & SMS CAMPAIGNING</div>
                <div class="info">Reach more people with our bulk Email and SMS services. Your advertisment will be delivered to millions within seconds. Increase your business activity with our outstanding Email and SMS campaigning. 100% delivery ensured. Reach more people
                    who don't even have a smartphone with our SMS services.<br />Package starts from 5,000/-</div>
                <div class="visit"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 title-col large">
        <div class="section-title">OUR SERVICES</div>
    </div>
</div>